/* RESET RULES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins";
}

ul,
ol {
  list-style: none;
}

/* Regole di layout */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

body {
  background-color: rgb(236, 242, 247);
}

/* header */
.main-header {
  padding: 10px 30px;
}

.header-title,
.logo {
  display: inline-block;
  vertical-align: middle;
}

.header-title {
  font-size: 50px;
  font-weight: 600;
}

/* main */

.button-card {
  margin-top: 30px;
  padding: 10px 50px;
}

.button {
  padding: 10px;

  border-radius: 8px;
}

.task-card {
  margin-top: 6px;
  padding: 40px 50px;
}

.task {
  list-style-type: circle;
  font-size: larger;
  font-weight: 600;
}

.item {
  font-weight: 300;
  padding-bottom: 10px;
}

.today,
.upcoming {
  margin-top: 20px;
}

/* .check {
  font-size: 1em;
  list-style-image: url(../img/check-circle-svgrepo-com.svg);
} */

/* utilities */

.blue {
  background-color: rgb(121, 201, 255);
  color: white;
  border: none;
}

.white {
  background-color: rgb(234, 234, 234);
  color: rgb(157, 154, 154);
  border-color: rgb(153, 151, 151);
  border-width: 1px;
}

.alice {
  background-color: aliceblue;
}
